{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<div class="container">
    <div class="row">

        <div class="col-md-4">
        
        </div>
        <div class="col-md-4 text-sm-start">
            <h1 style="font-family:sans-serif;color: rgb(246, 246, 246);">Introduction</h1>
            <p style="font-family: Arial, Helvetica, sans-serif;color:rgb(246, 246, 246);">Background Removal is a tool for removing the background of photos, allowing users to isolate the subject of the image. The process is simple and straightforward, just upload the image, and It will start removing the background.</p>
            
            <img width="400" src="{% static 'media/ex1.jpg' %}" class="img-thumbnail" alt="">
            <center><i class="fa fa-arrow-circle-down" style="font-size:100px;color:rgb(0, 211, 0);"></i></center>
            <img width="400" src="{% static 'media/ex1.png' %}" class="img-thumbnail" style="background-color:rgb(40, 40, 40);margin-bottom: 10%;" alt="">
        
        
            <center><a href="{% url 'remove' %}"><button class="btn btn-primary btn-lg">Let's Do It</button></a></center>

  

        </div>
        <div class="col-md-4">
        
        </div>
    </div>
</div>


{% endblock %}